@tailwind base;
@tailwind components;
@tailwind utilities;

.reaction {
	&:before {
		content: attr(data-emoji);
		position: absolute;
		top: 0;
		left: 50%;
		font-size: 1.2em;
		transform: translate3d(-50%, 0px, 0px);
		animation: 1.5s linear 0s 1 normal none running reactions;
		z-index: -1;
	}

	&:hover:after {
		content: attr(data-emoji);
		position: absolute;
		top: 0;
		left: 50%;
		font-size: 1.2em;
		transform: translate3d(-50%, 0px, 0px);
		animation: 1.5s linear 0s 1 normal none running reactions;
		z-index: -1;
		animation-iteration-count: infinite;
	}
}

/* Tiktok live animation */
@keyframes reactions {
	0% {
		transform: translate3d(-50%, 0px, 0px) rotate(0deg) scale(0.4);
		opacity: 1;
	}

	10% {
		transform: translate3d(-48%, -20px, 0px) scale(1);
		opacity: 1;
	}

	50% {
		transform: translate3d(-40%, -100px, 0px) rotate(-4deg) scale(1);
		opacity: 1;
	}

	90% {
		transform: translate3d(-53%, -180px, 0px) scale(1);
		opacity: 1;
	}

	100% {
		transform: translate3d(-55%, -200px, 0px) rotate(4deg) scale(0.7);
		opacity: 0;
	}
}